body{
    
    background-color: rgb(242, 243, 244);
}

/*
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(-46deg,#0b485b,#f56217,#2196f3,#f44336);
    background-size: 400% 400%;
    animation:gradient 20s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
*/
.nav-pills .nav-link.active{
    background-color: rgb(86, 101, 115);
}

.container_cabeza{
    
    text-align: center;
    background-color: rgb(52, 73, 94);
}

.container_cabeza img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 1px;

}

.container_general{
    
    margin-top: 15px;
    text-align: justify;
}

.container_general .container_cabeza{

    margin-bottom: 20px;
}

.container_pie{
    text-align: center;
    
}



  .container .row{
      justify-content: center;
  }

  .container .row div{
    margin-right: 10px;
    border: outset rgb(216, 216, 216) 0px;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    background-color: rgb(253, 254, 254);
    
  }

  .container_general .container .carousel {
      margin-top: 15px;
      margin-bottom: 15px;
  }


 .map{
     margin-top: 15px;
     text-align: center;
 }



