/*.container-fluid{
    
    background-color: rgb(236, 236, 236);
}
*/

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(-46deg,#0b485b,#f56217,#2196f3,#f44336);
    background-size: 400% 400%;
    animation:gradient 20s ease infinite;
}

@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.nav-pills .nav-link.active{
    background-color: rgb(51, 47, 47);
}

.container_cabeza{

    text-align: center;
}
.container_general{
    
    margin-top: 15px;
    text-align: justify;
}

.container_general .container_cabeza{

    margin-bottom: 20px;
}

.container_pie{
    text-align: center;
    
}

div hr{
    
    border-top: 5px dotted black;
      
  }

  .container .row{
      justify-content: center;
  }

  .container .row div{
    margin-right: 5px;
    border: outset rgb(216, 216, 216) 3px;
  }

  .container_general .container .carousel {
      margin-top: 15px;
      margin-bottom: 15px;
  }




